body {
  font-family: "PT Sans", "Arial", serif;
}
h1 {
  font-size: 30px;
  font-weight: bold;
   text-align: left;
    padding-top: 80px;
    padding-bottom: 36px;
    padding-left: 300px;
}
p {
  padding-left: 300px;
  padding-right: 500px;
  padding-bottom: 53px;
   font-size: 20px;
   line-height: 30px;
}
img {
  padding-left: 100px;
   filter: hue-rotate(-90deg) contrast(80%);
}
span {
  color: #808080;
}
h2 {
  font-size: 25px;
  font-weight: bold;
   text-align: left;
    padding-top: 90px;
    padding-bottom: 28px;
    padding-left: 300px;
    line-height: 30px;
}
h3 {
  ont-size: 25px;
  font-style: oblique;
   text-align: left;
    padding-top: 20px;
    padding-bottom: 28px;
    padding-left: 300px;
}

blockquote {
  margin-left: 270px;
  padding-left: 30px;
  padding-right: 500px;
  margin-bottom: 52px;
  border-left: solid black 2px;

}

ul {
  margin-left: 300px;
  margin-right: 500px;
  line-height: 25px;
  font-size: 20px;
  font-style: italic;
  list-style: circle;
}

ol {
  margin-left: 300px;
margin-right: 500px;
line-height: 25px;
font-size: 20px;
font-style: oblique;
list-style: decimal;
  }
